<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - YumUnity</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-ZenhBwBW9N8IqQoHeKx4GVvBZOn2YMSCCK8jabLCOzWnudtLWxCTjPp0FUqAlME" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"> </head>

<body>

    <section class="contact-section">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have a question, feedback, or just want to say hello? We'd love to hear from you! Get in touch with the YumUnity team using the contact information below:</p>

            <div id="div1" class="row align-items-center">
                <div id="div2" class="col-md-6">
                    <div id="div3" class="contact-info">
                        <h3 id="email-text">Email:</h3>
                        <p class="contact-details">piyushduttaxo@gmail.com</p>
                        <p class="contact-details">abhikhillare4@gmail.com</p>

                        <h3 id="customer-text">Customer Support:</h3>
                        <p class="contact-details">8291032724</p>
                        <p class="contact-details">9892392597</p>

                        <h3 id="address-text">Address:</h3>
                        <p class="contact-details">Marol, Andheri East, Mumbai</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/contact1.jpg" alt="Contact Us Image" class="img-fluid rounded">
                </div>
            </div>

            <p>Stay connected with us on social media for the latest updates, recipes, and culinary inspiration:</p>

            <ul class="social-links d-flex justify-content-center mt-4">
                <li class="mx-3">
                    <a href="https://www.facebook.com/piyush.dutta.7731?mibextid=ZbWKwL" target="_blank" class="text-dark">
                        <i class="bi bi-facebook fs-3"></i> </a>
                </li>
                <li class="mx-3">
                    <a href="https://twitter.com/Piyushxoxo" target="_blank" class="text-dark">
                        <i class="bi bi-twitter fs-3"></i> </a>
                </li>
                <li class="mx-3">
                    <a href="https://www.instagram.com/3.14yush._?igsh=NjhvcTI5ZWVsdmJy" target="_blank" class="text-dark">
                        <i class="bi bi-instagram fs-3"></i> </a>
                </li>
            </ul>

            <p>Feel free to drop us a line anytime – we're here to help and eager to hear from you! Your input fuels our passion for creating a vibrant and supportive culinary community.</p>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b4Fxq3LFHMDwDSVJrossYigqywE43LJJEj48C7UyEBQCrq6lucyzGECNcyzMmECKG" crossorigin="anonymous"></script>
</body>

</html>